.headerImg{
    background-image: url(../img/HeaderInicio.jpg);
}

.cards .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 3rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 2rem;
    padding: 3rem;
}

.img-container{
    width: 30%;
}

.text-container{
    width: 60%;
    margin-left: 1rem;
}

.card h3{
    font-size: 3rem;
}

.card img{
    width: 90%;
}

@media screen and (max-width: 1100px) {
    .img-container{
        width: 45%;
    } 
    .text-container{
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .card{
        flex-direction: column; 
        width: 80%;
    }
    .card h3{
        font-size: 2.5rem;
    }
    .card img{
        width: 100%;
    }
    .img-container{
        width: 60%;
    } 
    .text-container{
        text-align: center;
        margin: 2rem 0;
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {
    .card{
        width: 100%;
        margin: 3rem 0;
    }
    .card h3{
        font-size: 2.3rem;
    }
    .card p{
        font-size: 1.3rem;
    }
    .card img{
        width: 100%;
    }
    .img-container{
        width: 90%;
    } 
    
}

@media screen and (max-width: 400px) {
    .card h3{
        font-size: 2.2rem;
    } 
}