.cards .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    margin: 2rem 1rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 2rem;
    padding: 3rem 1rem;
    text-align: center;
}

.img-container{
    width: 70%;
}

.information-container{
    width: 90%;
}

.card h3{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.card h4{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.637);
}

.card img{
    width: 100%;
}

button{
    display: block;
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 144, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
}

button:hover{
    background-color: rgba(255, 126, 0);
}

section a{
    font-size: 1rem;
    text-transform: uppercase;
}

section a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1024px){
    .card{
        width: 30%;
    }
}
@media screen and (max-width: 860px){
    .card{
        width: 40%;
    }
    .img-container{
        width: 60%;
    }
    .card h3{
        font-size: 2.7rem;
    }
    
    .card h4{
        font-size: 1.3rem;
    }
    button{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 675px){
    .card{
        width: 45%;
    }
}
@media screen and (max-width: 550px){
    .card{
        width: 65%;
    }
}
@media screen and (max-width: 425px){
    .card{
        width: 90%;
    }
    .card h3{
        font-size: 2.5rem;
    }
    
    .card h4{
        font-size: 1.2rem;
    }
    button{
        font-size: 1.1rem;
    }
}