/* Start Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    user-select: none;
}

html {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #070c13;
}

section {
    padding: 2rem 3rem;
}

form {
    width: 100%;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Start Scrollbar Styles */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #ffffff44;
}

/* End Scrollbar styles */

/* End Global Styles */

/* Start Common Styles */

/* Start Header Styles */

header {
    background-color: #070c13;
    width: 100%;
}

header>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5rem;
}

.trademark {
    width: 20%;
    text-align: center;
    text-transform: uppercase;
}

.trademark h1 {
    color: #ffffff;
}

.navMenu {
    width: 80%;
}

.navMenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.navMenu li {
    background-color: #0e1620;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    text-align: center;
}

.navMenu a {
    color: #8e9297;
    transition: all 400ms;
}

.navMenu a:hover {
    color: #ffffff;
}

.active a {
    color: rgb(255, 255, 255);
}

.headerImg{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
   align-items: center;
   justify-content: center;
}
.headerImg > .container{
    padding: 0 2rem;
}
.headerImg > .container h1{
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(to top, #85d5ee, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* End Header Styles */

/* Start Newsletter Suscription Styles */

.newsletter {
    margin: 0;
    padding: 2rem;
    background-color: #12141a;
}

.newsletter>.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

form {
    margin-left: 1rem;
}

#email {
    border-radius: 5px;
    height: 40px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    border: none;
}

#emailSubmit {
    font-size: 1.2rem;
    background-color: #0e1620;
    border-radius: 5px;
    margin-top: 0.5rem;
    height: 40px;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.658);
}

#emailSubmit:active, #emailSubmit:hover {
    background-color: #020203a1;
}

/* Start Newsletter Suscription Styles */

/* Start Footer Styles */

footer{
    background-color: #0b121a;
    padding: 0.5rem;
}

footer p{
    font-size: 1rem;
    text-align: center;
}

/* End Footer Styles */

/* Start Media Querys */


@media screen and (max-width: 800px) {
    header>div {
        flex-direction: column;
    }
    .trademark {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }
    .navMenu {
        width: 100%;
        margin-bottom: 1rem;
    }
    .headerImg > .container h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 620px) {
    .navMenu ul {
        flex-direction: column;
        font-size: 1.3rem;
        align-items: center;
    }
    .navMenu li {
        margin-top: 1.3rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .navMenu li:first-of-type {
        margin-top: 0rem;
    }
    .newsletter>.container {
        flex-direction: column;
    }
    form {
        margin-left: 0rem;
    }
    #email {
        margin-top: 1rem;
    }
    .headerImg > .container h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 400px) {
    .headerImg > .container h1{
        font-size: 3rem;
    }
}

/* End Media Querys */

/* End Common Styles */